@font-face {
    font-family: china;
    src: url(Font/ming_imperial/Ming\ Imperial.TTF);
    font-family: night;
    src: url(Font/nightcore/Nightcore\ Demo.ttf);
    font-family: tribe;
    src: url(Font/damgram_next/Damgram-Next-Regular.otf);
    font-family: egypt;
    src: url(Font/egyptian/egyptian.ttf);
    font-family: egypt2;
    src: url(Font/Egyptian\ Letters.ttf);
    font-family: china2;
    src: url(Font/Chinatoo.ttf);
    
}



body {
    background-color: black;
    color: aliceblue;
    margin: 20;
    padding: 20;

}

a:link, a:visited{
    color: pink;
}

a:hover{
    color: aquamarine;
}

h1 {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
    margin: 15px;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h2 {
    padding: 0px 15px;

}

.card p {
    padding: 15px;
}

.potato {
    padding: 15px;
    margin: 15px;
}

.index-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.index-intro {
    padding: 15px;
}

.index-country {
    padding: 15px;
}

@media only screen and (max-width: 800px){
    .index-container {
        grid-template-columns: 1fr;
    }
    .index-intro {
        border: 5px white solid;
    }
}

.somethingorrather {
    text-align: center;
}

